.counter {
  width: fit-content;
  background-color: rgb(208, 130, 230);
  margin: auto;
  padding: 1rem;
  text-align: center;
  border-radius: 10%;
}

.container {
  width: 98%;
  margin: auto;
}

.detail {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail__image {
  width: 50%;
}

.content {
  width: 100%;
}

.ItemListCon {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*--FOOTER--*/

.footer {
  color: whitesmoke;
  background-color: rgb(173, 77, 221);
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.iconos {
  display: flex;
  text-align: end;
  justify-content: space-around;
}

/*--CART--*/
.cart__tittle {
  text-align: center;
}

.emptyCart {
  margin: 0px 10px;
}
